/*---------- Plan Index Page ----------*/
.plan-index {
    margin: 0 20px;
}

.card-list-item{
    list-style: none;
    position: relative;
}

.circle-button {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -28px;
    z-index: -1;
    /* display: none; */
}